<h1><%= "#{@heroine.name}, A.K.A #{@heroine.super_name}"%></h1>
<div class="show_heroine_pic"><%= image_tag("#{heroine.image}", size: "600x400")%></div>
<br><br>
<li><%= "Real Name: #{@heroine.name}" %></li><br>
<li><%= "Superhero Name: #{@heroine.super_name}" %></li><br>
<li><%= label_tag "power:" %>
<%= link_to "#{@heroine.power.formatted_name}", power_path(@heroine.power) %>